{% extends "c_mentor/layout.html" %}

{% block body %}
<div class="logins-register" style="color: black;">
    <div class="title">Register</div>
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    <div class="register-login">
        <div>
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div><input autofocus type="text" name="username" placeholder="Username" class="name"></div><br>

                <div><input type="email" name="email" placeholder="email" class="name"></div><br>

                <div><input placeholder="Password" name="password" class="name" type="password"></div><br>

                <div><input placeholder="Conform-Password" name="confirmation" class="name" type="password"></div><br>

                <div><select name="user_type" class="name" id="user_type">
                        <option value="Null">Select</option>
                        <option value="Student">Student</option>
                        <option value="Mentor">Mentor</option>
                    </select>
                </div>
                <br><br>
                <div><button class="login-btn" type="submit">Register</button></div>
            </form>
        </div>
        <div class="line-or">
            <hr class="log-hr">
            <div class="texts">or</div>
            <hr class="log-hr">
        </div>
        <div><a href="{% url 'login' %}"><button class="login-btn">Sign in</button></a></div>

    </div>

</div>


{% endblock %}